<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon_removebg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon_removebg"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnNong_seonmi"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name=".activity.Activity_TableSetting"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.Activity_InputData"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.Activity_OutputData"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.Activity_AppSetting"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".activity.activity_select_crop_name"/>
        <activity android:name=".activity.activity_download_csv"/>
    </application>

</manifest>